apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: sre-demo
  namespace: sre-demo

spec:
  replicas: 2
  selector:
    matchLabels:
      app: sre-demo

  template:
    metadata:
      labels:
        app: sre-demo
    spec:
      containers:
        - name: sre-demo
          image: sre-demo:latest
          imagePullPolicy: Never

          ports:
            - containerPort: 8080

          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10

  strategy:
    canary:
      steps:
        - setWeight: 50
        - pause: { duration: 20s }
        - setWeight: 100
